<div class="box-search">
  <nz-form-label [nzSpan]="6" nzFor="search_input"
    >Tra cứu tác giả</nz-form-label
  >
  <input
    nz-input
    placeholder="Nhập tên tác giả để tra cứu"
    nzSize="large"
    name="search_input"
    (input)="onChangeText($event)"
  />
</div>
<nz-table
  #rowAuthorTable
  [nzData]="listAuthor"
  nzShowPagination
  nzShowSizeChanger
  [nzPageSize]="pageSize"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  (nzQueryParams)="getPage($event)"
  nzSize="middle"
  ngSkipHydration
  [nzPageSizeOptions]="[8, 16, 24, 32]"
>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên tác giả</th>
      <th>Ngày sinh</th>
      <th>Số sách</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowAuthorTable.data">
      <td>{{ data.id }}</td>
      <td>
        <b>{{ data.name }}</b>
      </td>
      <td>{{ data.date_of_birth }}</td>
      <td>{{ data.number_of_books }}</td>
    </tr>
  </tbody>
</nz-table>
